:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  color: #f9faf8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 1rem;
}

button:hover {
  filter: brightness(95%);
  cursor: pointer;
}

button:active {
  filter: brightness(90%);
}

.header {
  padding: 24px 140px;
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
}

.header .links {
  display: flex;
  gap: 18px;
}

.hero-section {
  padding: 20px 140px 45px 140px;
  display: flex;
  gap: 40px;
  background-color: #1f2937;
}

.hero-section .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hero-section .main-text {
  font-size: 2.5rem;
  font-weight: 900;
}

.highlight {
  color: #ee8590;
}

.hero-section .sub-text {
  font-size: 1.2rem;
  color: #e5e7eb;
  padding: 8px 0;
}

.button-container {
  display: flex;
  gap: 24px;
}

.rankings-button,
.sign-up {
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f9faf8;
  width: fit-content;
}

.sign-up {
  background-color: #3c9dd1;
}

.rankings-button {
  background-color: #ee8590;
}

.hero-section img {
  width: 100%;
  height: auto;
  max-width: 425px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 0;
  gap: 20px;
}

.about-section .main-text {
  font-size: 2.6rem;
  font-weight: 700;
  color: #1f2937;
}

.about-section .container {
  display: flex;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 200px;
  font-size: 1rem;
  color: #1f2937;
}

.card img {
  object-fit: cover;
  width: 200px;
  height: 160px;
  border-radius: 16px;
}

.review-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding: 65px 160px;
  background-color: #e5e7eb;
}

.review-section .quote {
  font-style: italic;
  font-weight: 300;
  font-size: 1.8rem;
  color: #1f2937;
}

.review-section .person {
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1f2937;
}

.call-to-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 140px;
  padding: 40px 110px;
  border-radius: 8px;
  background-color: #3c9dd1;
  color: #f8faf8;
  font-size: 1rem;
}

.call-to-action .main-text {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2px;
}

.call-to-action .sign-up {
  border: 2px solid #f8faf8;
  padding: 10px 0px;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #3c9dd1;
  width: 160px;
  color: #f9faf8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 10px 0;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 0.8rem;
}
