:root.light {
  --main-accent: #3c9dd1;
  --sub-accent: #c8e7f8;
  --negative-accent: #e85261;
  --negative-dim-accent: #ffb8c0b3;
  --shadow-color: rgba(82, 119, 156, 0.2);

  --text-color: #353c42;
  --text-dim: #b3b3b3;
  --text-bg-match: #f8f8f8;

  --bg-color: #ffffff;
}

:root.dark {
  --main-accent: #3c9dd1;
  --sub-accent: #06496d;
  --negative-accent: #d84b59;
  --negative-dim-accent: #fc909db3;
  --shadow-color: rgba(134, 190, 247, 0.144);

  --text-color: #e4e4e4;
  --text-dim: #929292;
  --text-bg-match: #353c42;

  --bg-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

li,
button,
input[type="checkbox"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button:hover {
  filter: brightness(95%);
}

button:active {
  filter: brightness(90%);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 0 6px;
  background-color: var(--sub-accent);
}

.logo {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}
.logo1 {
  color: var(--main-accent);
}
.logo2 {
  color: var(--text-color);
}
.logo3 {
  color: var(--negative-accent);
}

.sidebar .tabs {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex: 1;
  font-size: 14px;
}

.collapsible {
  border: none;
  background-color: var(--main-accent);
  color: var(--text-bg-match);
  padding: 6px 6px 6px 18px;
  font-weight: 700;
}

.collapsible span {
  float: right;
}

.tab {
  padding: 6px 0;
  background-color: var(--sub-accent);
  font-weight: bold;
}

.tab:hover {
  filter: brightness(97%);
}

.toggle-theme-button {
  margin-bottom: 24px;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--main-accent);
  color: var(--text-bg-match);
  font-weight: 700;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 16px 6px 16px;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
}

.header .sub-header {
  font-size: 14px;
}

.filters {
  display: flex;
  gap: 10px;
  font-size: 15px;
}

.movie-filter {
  font-size: 1em;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 6px;
}

/* https://moderncss.dev/pure-css-custom-checkbox-style/ */

input[type="checkbox"] {
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid currentColor;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  background-color: var(--bg-color);
}

input[type="checkbox"]:checked {
  background-color: var(--main-accent);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1em 1em var(--bg-color);
  /* Windows High Contrast Mode */
  background-color: currentColor;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.genre-filter,
.runtime-filter {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.rankings {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  gap: 12px;
  font-size: 13px;
}

.row-header {
  background-color: var(--sub-accent);
  padding: 8px 0;
  display: flex;
  font-size: 10px;
  color: var(--text-color);
}

.rank-number,
.rank-number-label {
  flex-basis: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-name,
.movie-name-label {
  flex: 6;
  padding-left: 16px;
}

.genre,
.genre-label {
  flex: 5;
}

.runtime,
.runtime-label {
  flex: 1.5;
}

.release-date,
.release-date-label {
  flex: 2;
  display: flex;
  justify-content: center;
}

.trend,
.trend-label {
  flex: 1;
  display: flex;
  justify-content: center;
}

.score,
.score-label {
  flex: 1.5;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 5px 0.25px var(--shadow-color);
  cursor: pointer;
}

.rank-number {
  height: 100%;
  background-color: var(--main-accent);
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.rating {
  font-style: italic;
  font-size: 12px;
  color: var(--text-dim);
  margin-left: 4px;
}

.score {
  font-weight: 700;
  color: var(--main-accent);
  font-size: 14px;
}

.insights {
  width: 300px;
  padding: 12px 16px 12px 10px;
}

.insights-header {
  display: flex;
  justify-content: center;
  background-color: var(--main-accent);
  padding: 6px 0;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.risers,
.fallers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin: 8px 0;
}

.risers-header,
.fallers-header {
  padding: 6px 0 6px 12px;
  display: flex;
  font-size: 10px;
  color: var(--text-color);
}

.risers-header {
  background-color: var(--sub-accent);
}

.riser-row,
.faller-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  padding: 4px 14px;
  border-radius: 3px;
  font-size: 12px;
}

.riser-row {
  border: 1px solid var(--sub-accent);
}

.riser-movie-score {
  font-weight: 700;
  color: var(--main-accent);
}

.fallers-header {
  background-color: var(--negative-dim-accent);
}

.faller-row {
  border: 1px solid var(--negative-dim-accent);
}

.faller-movie-score {
  font-weight: 700;
  color: var(--negative-accent);
}

.ranking-form-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;

  background-color: var(--bg-color);
  color: var(--text-color);

  padding: 24px;
  border-radius: 8px;
  border: 1px solid var(--text-color);
}

.ranking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ranking-form .description {
  font-size: 14px;
  text-align: center;
}

.ranking-form h1 {
  font-weight: bold;
  font-size: 24px;
}

.movie-row {
  display: flex;
  gap: 4px;
  padding: 12px 0;
}

.movie-row fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 10px;
  text-align: center;
}

.movie-row legend {
  font-weight: bold;
  padding: 0 2px;
  font-size: 11px;
}

fieldset p {
  font-weight: bold;
}

.options {
  display: flex;
  justify-content: space-between;
}

.ranking-form .buttons {
  display: flex;
  gap: 8px;
  padding-bottom: 4px;
}

.ranking-form .submit-button,
.ranking-form .close-button {
  padding: 8px 16px;
  border: 1px solid var(--text-color);
  font-weight: bold;
  color: var(--text-color);
}

.ranking-form .submit-button {
  background-color: var(--sub-accent);
  border: none;
}
.ranking-form .close-button {
  background-color: var(--bg-color);
}

.ranking-form .dont-know {
  font-size: 11px;
  text-decoration: underline;
  cursor: pointer;
}
